* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "WorkSans";
  src: url(./assets/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: "didact gothic";
  src: url(./assets/fonts/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: "fjalla one";
  src: url(./assets/fonts/FjallaOne-Regular.ttf);
}

/* ! header */

header {
  text-align: center;
}

header p {
  font-size: 20px;
  margin-bottom: 60px;
  margin-top: 10px;

  color: #000;
  font-family: "Worksans", sans-serif;
}

h1 {
  color: #000000;
  font-size: 100px;
  margin-bottom: 60px;
  font-family: "didact gothic", sans-serif;
  letter-spacing: -2px;
}

header img {
  margin-bottom: 118px;
  border: 0px solid #000;
}

header h2 {
  /* margin-bottom: 60px; */

  font-size: 160px;
  font-family: "Worksans", sans-serif;
  /* text-transform: uppercase; */
  font-style: normal;
  color: #000;
  /* line-height: normmal; */
  font-weight: 400;
}
/* ! orbis */

.orbis {
  background-image: url(./img/foto2.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

h2 {
  font-family: "didact gothic", sans-serif;
  font-size: 112px;
  margin-bottom: 40px;
}

.dark h2 {
  color: #fff;
}

.white h2 {
  color: #000;
}

.wrapper a {
  font-size: 16px;

  height: 52px;
  font-family: fjalla one;
  margin-bottom: 120px;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 16px 26px 16px 26px;
  display: inline-block;
}

.dark a {
  color: #fff;
}
.white a {
  color: #000;
  border: 2px solid black;
}

.dark a:hover {
  background-color: #fff;
  color: #000;
}
.white a:hover {
  background-color: #000;
  color: #fff;
}

.dark a:hover + .number-dark {
  color: #fff;
}

.white a:hover + .number-white {
  color: #000;
}

.number {
  font-size: 165px;
  font-family: fjalla one;
  letter-spacing: -3.3px;
  position: absolute;
  right: 120px;
  bottom: 100px;
}
.white .number {
  color: #666;
  opacity: 0.9px;
}
.dark .number {
  color: #9e9e9e;
}
.wrapper {
  height: 90vh;
  position: relative;
  padding-top: 200px;
  padding-left: 200px;
}
.white .wrapper {
  height: 100vh;
}
.wrapper article p {
  color: #9e9e9e;
  font-family: "Worksans", sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 80px;
}

.orbis .wrapper h3 {
  margin-bottom: 100px;
}

/* ! rollr  */
.rollr {
  background-image: url(./img/foto3.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* ! galitos  */

.galitos {
  background-image: url(./img/foto4.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

/* ! tretto  */
.tretto {
  background-image: url(./img/foto5.png);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/*  ! what */

.what {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}
.what h2 {
  color: #fff;
  text-align: center;
  font-family: "Worksans", sans-serif;
  font-size: clamp(14rem, 20vw, 19rem);
  position: relative;
  margin-top: 130px;
  margin: auto;
  letter-spacing: -18px;
  margin-bottom: 150px;
}
.what p {
  color: #666;
  font-family: "Worksans", sans-serif;
  line-height: 40px;
  padding-left: 640px;
  font-size: 22px;
  margin-bottom: 70px;
  letter-spacing: 0.22px;
}
.what a {
  color: #fff;
  font-family: "Worksans", sans-serif;
  font-size: 40px;
  padding-left: 640px;
  text-decoration: none;
}

.what a:hover {
  text-decoration: underline;
}

footer {
  background-color: white;
  text-align: center;
}

li a {
  color: black;
  position: relative;
  font-family: "didact gothic", sans-serif;
  font-size: 160px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.heart {
  font-size: 10px;
  color: #000;
  animation: pulse 0.15s infinite alternate;
  transform-origin: center;
}

@keyframes pulse {
  to {
    transform: scale(1.4);
  }
}
